<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title%}EDUCAR{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
<div id="header">
    <a href="/" class="logo">Educar</a>
    <ul class="menu">
        {% if request.user.is_authenticated %}
        <form action="{% url 'logout' %}" method="post" style="display: inline; margin: 0; padding: 0;">
            {% csrf_token %}
            <button type="submit" style="background: none; border: none; color: #0056b3; font-weight: bold; cursor: pointer; font-size: 0.95rem; font-family: inherit; padding: 0;">
        Cerrar Sesión
            </button>
        </form>
        {% else %}
        <li><a href="{% url 'login' %}">Iniciar Sesión</a></li>
        {% endif %}
    </ul>
</div>
<div id="content">
    {% block content %}
    {% endblock %}
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.14.1/jquery-ui.min.js"></script>
<script>
    $(document).ready(function(){
        {% block domready %}
        {% endblock %}
    });
</script>
</body>
</html>